.menu-item{
    display: flex;
    padding: px2rem(25px) 0;
    border-bottom:px2rem(1px) solid #f0f0f0;
    position: relative;
    .img{
        width: px2rem(62px);
        height: px2rem(62px);
        margin-right: px2rem(10px);
    }
    .menu-item-right{
        flex: 1;
        .item-title{
            font-size: px2rem(16px);
            color: #2f2f2f;
        }
        .item-desc ,.item-zan{
            color: #a9a9a9;
            font-size: px2rem(12px);
            margin-top:px2rem(6px);
            line-height: px2rem(15px);
            padding-right: px2rem(4px);
            &.item-desc{
                line-height: px2rem(17px)
            }
        }
        .item-price{
            margin-top: px2rem(18px);
            color: #fe4d3d;
        }
        .unit{
            color: #a9a9a9;
            font-size: px2rem(12px);
        }
        .select-content{
            position: absolute;
            right: px2rem(9px);
            bottom: px2rem(21px);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .count{
            font-size: px2rem(15px);
            color: #2f2f2f;
            width: px2rem(20px);
            height: px2rem(25px);
            line-height: px2rem(25px);
            text-align: center;
           margin: 0 px2rem(2px);
        }
        .plus{
            width: 25px;
            height: 25px;
            background-size: cover;
            background-image: url('./img/plus.af10af5a9cee233c612b3cff5c2d70cd.png');
        }
        .minus{
            width: 25px;
            height: 25px;
            background-size: cover;
            background-image: url('./img/minus.edae56b865f90527f2657782f67d9c3e.png');
        }
    }
}