.order{
    .header{
        width: 100%;
        overflow: hidden;
        padding-bottom: 14%;
        height: 0;
        border-color: #fff;
        border-bottom: 1px solid #b2b2b2;
        font-size: px2rem(17px);
        text-align: center;
        line-height: 1.4rem;
        font-weight: bold;

    }
}